body {
    background: #171717;
    box-sizing: border-box;
    font-family: 'Gilam', sans-serif;
    margin: 0 auto;
    max-width: 1920px;
}

main {
    padding-bottom: 191px;
}

footer {
    width: 1920px;
    height: 1254px;
    background-color: #0E0E0E;;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 216px;
    height: 33px;
    margin-left: 230px;
    margin-top: 46px;
}

.upper-right-button {
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 218px;
    margin-right: 230px;
    margin-top: 37px;
    padding: 10px 25px 10px 49px;
    color: #E4B564;
}

.main-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-left: 230px;
    margin-top: 128px;
    margin-bottom: 41px;
    color: #FFFFFF;
}

.paragraph1 {
    max-width: 1182px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-left: 230px;
    margin-right: 508px;
    color: #FFFFFF;
}

.upper-block {
    width: 1460px;
    height: 963px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-right: 230px;
    margin-left: 230px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1vw;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5"
;

}

.upper-block-item1,
.upper-block-item2,
.upper-block-item3,
.upper-block-item4,
.upper-block-item5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-block-item1 {
    grid-area: item1;
    background-color: #634F2C;
}

.upper-block-item2 {
    grid-area: item2;
    background-color: #B4A385;
}

.upper-block-item3 {
    grid-area: item3;
    background-color: #E4B564;
}

.upper-block-item4 {
    grid-area: item4;
    background-color: #635A4A;
}

.upper-block-item5 {
    grid-area: item5;
    background-color: #B08C4D;
}

.title2 {
    display: block;
    width: 990px;
    height: 28px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 230px;
    margin-top: 161px;
    margin-bottom: 94px;
}

.middle-block {
    width: 1461px;
    height: 903px;
    margin-left: 230px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 30px;
    grid-template-areas:
    "mb1 mb1 mb3 mb3 mb5 mb5"
    "mb1 mb1 mb3 mb3 mb5 mb5"
    "mb1 mb1 mb3 mb3 mb5 mb5"
    "mb1 mb1 mb3 mb3 mb6 mb6"
    "mb2 mb2 mb3 mb3 mb6 mb6"
    "mb2 mb2 mb4 mb4 mb6 mb6"
    "mb2 mb2 mb4 mb4 mb7 mb7"
    "mb2 mb2 mb4 mb4 mb7 mb7 "
    "mb2 mb2 mb4 mb4 mb7 mb7"
;
}

.middle-block-item1 {
    grid-area: mb1;
    background: #0E0E0E;
    color: #FFFFFF;;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 52px;
    padding-right: 180px;
}

.middle-block-item2 {
    grid-area: mb2;
    background: #1F1F1F;
    color: #FFFFFF;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-top: 56px;
    padding-left: 52px;
}

.middle-block-item3 {
    grid-area: mb3;
    background: #242424;
    color: #FFFFFF;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 51px;
    padding-right: 120px;
}

.middle-block-item4 {
    grid-area: mb4;
    background: #E4B564;
    color: #000000;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-top: 47px;
    padding-left: 52px;
}

.middle-block-item5 {
    grid-area: mb5;
    background: #1F1F1F;
    color: #FFFFFF;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 48px;
}

.middle-block-item6 {
    grid-area: mb6;
    background: #0A0909;
    color: #FFFFFF;;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 48px;
}

.middle-block-item7 {
    grid-area: mb7;
    background: #0A0909;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 48px;
}

.lower-title {
    display: flex;
    justify-content: space-between;
}

.lower-header {
    width: 597px;
    height: 28px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 230px;
    margin-top: 171px;
    margin-bottom: 74px;
}

.btn-lower {
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 218px;
    margin-right: 230px;
    margin-top: 171px;
    margin-bottom: 74px;
    padding: 10px 25px 10px 49px;
    color: #E4B564;
}

.lower-block-items {
    width: 1461px;
    height: 782px;
    margin-left: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6"
;
}

.lower-block-item1 {
    background: #634F2C;
    grid-area: item1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-block-item2 {
    background: rgba(232, 210, 171, 0.76);
    grid-area: item2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-link {
    display: inline-block;
    position: relative;
}

img {
    transition: transform 0.3s ease-in-out;
}

.hover-text {
    display: inline-block;
    width: 326px;
    height: 140px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-link:hover img {
    transform: translateY(-10px);
}

.image-link:hover .hover-text {
    opacity: 1;
}

.lower-block-item3 {
    grid-area: item3;
    background: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-block-item4 {
    grid-area: item4;
    background: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-block-item5 {
    grid-area: item5;
    background: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-block-item6 {
    grid-area: item6;
    background: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}







